<div class="col-lg-4 col-md-4 col-sm-6">
    <div class="fh5co-card-item" ui-sref="{{vm.sref}}" ui-sref-active="active" autoscroll="false">
        <figure title="{{vm.wTitle}}" alt="{{vm.wTitle}}">
            <div class="overlay"></div>
            <div class="img-responsive {{vm.class}}"></div>
        </figure>
        <div class="fh5co-text">
            <div class="overlay"></div>
            <h2>{{vm.wTitle}}</h2>
            <p class='card-description'>{{vm.description}}</p>
        </div>


    </div>
</div>
