<div id="gtco-quick-contact-fixed">
    <div class="row gtco-container">
        <div class="col-xs-3 text-center not-btn">
            <a href="{{CONTACTS.PHONE.LINK}}">
                <i class="icon-phone"></i> <span class="hidden-xs">{{CONTACTS.PHONE.NUMBER}}</span>
            </a>
        </div>
        <div class="col-xs-3 text-center not-btn">
            <a href="{{CONTACTS.WHATSAPP.LINK}}" target="_blank">
                <i class="fa fa-whatsapp"></i> <span class="hidden-xs">{{CONTACTS.WHATSAPP.NUMBER}}</span>
            </a>
        </div>
        <div class="col-xs-3 text-center not-btn">
            <a href="{{CONTACTS.EMAIL.LINK}}" target="_top">
                <i class="icon-mail2"></i> <span class="hidden-xs">{{CONTACTS.EMAIL.EMAIL}}</span>
            </a>
        </div>
        <div class="col-xs-3 text-center is-btn">
            <a class="btn btn-primary btn-block visible-lg visible-md" ng-href="#formulario-de-orcamento" ng-click="handleUrl('formulario-de-orcamento')">Preencher formulário</a>
            <a class="btn btn-primary btn-block visible-sm visible-xs" ng-href="#formulario-de-orcamento" ng-click="handleUrl('formulario-de-orcamento')">Formulário</a>
        </div>
    </div>
</div>
