<section>
    <div id="sessao-contatos">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2 compiler="vm.title"></h2>
                </div>
            </div>
            <div class="row gtco-container">

                <div class="col-md-6">
                    <div class="contact-card">
                        <div class="contact-card-text">
                            <h2>
                                <div><i class="icon-phone"></i> Telefone<a href="{{vm.CONTACTS.PHONE.LINK}}"></a></div>
                            </h2>
                            <p>{{vm.CONTACTS.PHONE.NUMBER}}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="contact-card">
                        <div class="contact-card-text">
                            <h2>
                                <div><i class="fa fa-whatsapp"></i> WhatsApp<a href="{{vm.CONTACTS.WHATSAPP.LINK}}" target="_blank"></a></div>
                            </h2>
                            <p>{{vm.CONTACTS.WHATSAPP.NUMBER}}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="contact-card">
                        <div class="contact-card-text">
                            <h2>
                                <div><i class="icon-mail2"></i> E-mail<a href="{{vm.CONTACTS.EMAIL.LINK}}" target="_top"></a></div>
                            </h2>
                            <p>{{vm.CONTACTS.EMAIL.EMAIL}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
